# Database
DATABASE_URL=
MONGODB_URI=
MONGODB_DB=

# Redis
REDIS_URL=redis://localhost:6379

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_CLERK_ALLOWED_REDIRECT_ORIGINS=["http://localhost:3000"]

# Application
BASE_URL=

# Domains
DOMAIN_CNAME_TARGET=

# VirusTotal
VIRUSTOTAL_API_KEY=
